<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Lista de Usuarios</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<p *ngIf="UsuarioData.length <= 0" class="no-data">nenhum usuário cadastrado!</p>

<div class="container" *ngIf="UsuarioData.length > 0">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let element"> {{element.sobrenome}} </td>
      </ng-container>

      <ng-container matColumnDef="dataNascimento">
        <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
        <td mat-cell *matCellDef="let element"> {{element.dataNascimento | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="email" >
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <button mat-raised-button color="primary" class="push-right"
            [routerLink]="['/edit-usuario/', element.id]">
            <mat-icon>edit</mat-icon>
          </button>
          
          <button mat-raised-button color="accent" (click)="deleteUsuario(i, element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
